
include base.pug
form(method='post', class="container form-container")
    h1 Register
    div(class="my-2 row")
        label(class="col-6") First Name:
        input(class="col-6",name="firstName",required)
    div(class="my-2 row")
        label(class="col-6") Last Name:
        input(class="col-6",name="lastName",required)
    div(class="my-2 row")
        label(class="col-6") Email:
        input(class="col-6",name="email",type="email",required)
    div(class="my-2 row")
        label(class="col-6") Password:
        input(class="col-6",name="password",type="password",required)
    span #{error}
    div(class="my-2 row")
        button(type="submit", class="btn btn-primary") Submit
        a(href="/",class="text-center") Home